{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="container text-center">
    <div class="row g-2 justify-content-between  mt-5 mb-5">
      <div class="col-5 border bg-light">
        <div class="p-2">
            <p class="fw-medium">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
      <div class="col-5 border bg-light">
        <div class="p-2">
            <img src="{% static 'cars.jpeg' %}" class="card-img-top" alt="car-image">
        </div>
      </div>
      
    </div>
  </div>




    <div class="container text-center mt-4">
        <div class="row row-cols-auto">
            
            {% for dt in brands %}
                
                <div class="form-check col bg-danger mx-2 ">
                    {% comment %} <input class="form-check-input p-2" type="radio" name="brands" id="{{dt.id}}"> {% endcomment %}
                    <label class="form-check-label p-2" for="{{dt.id}}">
                        <b><a href="{% url 'slug_brand' dt.slug %}" class="btn text-light ">{{dt.name}}</a></b>
                    </label>
                    
                </div>
                
            {% endfor %}
        </div>
    </div>
    
   <h4 class="text-center mt-4"> Total Model: {{data|length}}</h4>
<div class="d-flex flex-wrap justify-content-center pt-3 px-5 container">
    
    
    {% for dt in data %}

        <div class="col-sm-4 mt-4">
            <div class="card mx-3  text-dark">
            <img src="{{ dt.image_field.url }}" class="card-img-top" alt="car-image">
            <div class="card-body  ">
                <h5 class="card-title">Car Name: {{dt.car_name}}</h5>
                <h5 class="card-text">Price : {{dt.price}}</h5>
                <small> <b> Car Brand Name : {{dt.brand.name}} </b></small>
                <br>
                <br>

                <a href="{% url 'details' dt.id %}" class="btn btn-sm mb-2 btn-primary">View Details</a>

            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content%} 